body{
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

:root {
    --main-color: hotpink;
    --pane-padding: 5px 42px;
  }

.list {
    list-style: none;
} 

