body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

.title-button-list {
    list-style: none;
} 

.logo-web {
    color:#2E2F42;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 21px; /* 116.667% */
    letter-spacing: 0.54px;
    text-transform: uppercase;
    text-decoration-line: none;
}

.logo-part {
    color:#4D5AE5;
}


.title-link> li {
    list-style-type: none;
}

.title-list {
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5; 
    letter-spacing: 0.02em;
}

.title-list-link {
    text-decoration: none;
}

.title-adress-list> li {
    list-style-type: none;
}

.title-contacts {
    color: #434455;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5; 
    letter-spacing: 0.02em;
    text-decoration: none;
}

.title-button-menu {
    color: #4D5AE5;
    text-align: center;
    /* Button Text */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5; 
    letter-spacing: 0.04em;
}